<ion-header >
  <ion-toolbar color="primary">
    <ion-buttons slot="start" >
      <ion-back-button defaultHref="/"></ion-back-button>
    </ion-buttons>
    <ion-title class="ion-text-center">الاستعلام</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-grid>
    <form [formGroup]="createForm" (ngSubmit)="getFilterSerial(createForm.value)" class="ion-margin">
        <ion-item>
          <ion-label class="ion-text-right" position="floating">ادخل كود</ion-label>
          <ion-input formControlName="code"  type="number"></ion-input>
        </ion-item>
        <ion-button (click)="getFilterSerial(createForm.value)" color="primary ion-margin-top">ابحث</ion-button>
    </form>

    <div class="block-data">
      <h3> 2021-9-2979 </h3>
      <div class="serial">
        <ul class="list-group">
          <li class="list-group-item">Original S/N: <b>  2021-09-2965 </b></li>
          <li class="list-group-item">Current Serial: <b> 2021-09-2965 </b></li>
          <li class="list-group-item">Purchase Wight <b>  390 K.G </b></li>
          <li class="list-group-item">Purch Date <b>  4/9/2021 </b></li>
        </ul>
      </div>
      <div>
        <p class="cat"> Feeding </p>
        <table class="table">
          <thead>
            <tr>
              <th scope="col">Date</th>
              <th scope="col">QTY</th>
              <th scope="col">التغذية</th>
              <th scope="col">الوحدة</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <th scope="row">9/9/2021</th>
              <td>19.48</td>
              <td>خلطة اعلاف مستورد</td>
              <td>K.G</td>
            </tr>
          </tbody>
        </table>
      </div>

      <div>
        <p class="cat"> Medical </p>
        <table class="table">
          <!-- <thead>
            <tr>
              <th scope="col">Date</th>
              <th scope="col">QTY</th>
              <th scope="col">التغذية</th>
              <th scope="col">الوحدة</th>
            </tr>
          </thead> -->
          <tbody>
            <tr>
              <th scope="row">9/9/2021</th>
              <td>0.67</td>
              <td> اكسيد </td>
              <td>جرعة</td>
            </tr>
            <tr>
              <th scope="row">9/9/2021</th>
              <td>0.67</td>
              <td> اكسيد </td>
              <td>جرعة</td>
            </tr>
          </tbody>
        </table>
      </div>

      <div>
        <p class="cat"> Perioice Wight </p>
        <table class="table">
          <!-- <thead>
            <tr>
              <th scope="col">Date</th>
              <th scope="col">QTY</th>
              <th scope="col">التغذية</th>
              <th scope="col">الوحدة</th>
            </tr>
          </thead> -->
          <tbody>
            <tr>
              <th scope="row">Perioice Wight</th>
              <td>9/9/2021</td>
              <td> 433 </td>
            </tr>
            <tr>
              <th scope="row">Perioice Wight</th>
              <td>9/9/2021</td>
              <td> 485 </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </ion-grid>


</ion-content>
