
.img-profile {
  display: flex;
  justify-content: center;
  align-items: center;

  ion-avatar {
    width: 60px;
    margin: 5px 0;
    height: 60px;
  }

  ion-label {
    font-size: 15px;
    padding-left: 10px;
  }
}

/* end header top */

.img-langauge {
  width: 40px;
  height: 40px;
  position: absolute;
  right: 13px;
  top: 14px;
  border: 1px solid #ccc;
}


.privacy-policy {
  background-color: #fff;
  width: 100%;
  margin: 20px auto;
  box-shadow: 0 2px 4px rgb(0 0 0 / 8%), 0 4px 12px rgb(0 0 0 / 8%);
  -webkit-box-shadow: 0 2px 4px rgb(0 0 0 / 8%), 0 4px 12px rgb(0 0 0 / 8%);
  -mooz-box-shadow:0 2px 4px rgb(0 0 0 / 8%), 0 4px 12px rgb(0 0 0 / 8%);
  border-radius: 8px;
  padding: 20px;

  ion-text {
    font-size: 16px;
    color: #1c1d1f;
    text-transform: none;
  }
}
