<ion-header class="course">
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/courses/tabs/all-courses"> </ion-back-button>
    </ion-buttons>

    <ion-menu-button slot="start"></ion-menu-button>


    <div class="img-profile">
      <ion-avatar slot="end">
        <img loading="lazy" *ngIf="userInfo.imagePath" [src]="userInfo.imagePath">
        <img loading="lazy" *ngIf="userInfo === '' || userInfo.imagePath === null || userInfo.imagePath === undefined"
        src="../../../assets/images/image profille (1).png">
      </ion-avatar>
      <ion-label>{{ userInfo.firstname + ' ' +  userInfo.lastname }}</ion-label>
    </div>

    <!-- <img  [src]="userInfo.languageIcon" /> -->

    <ion-avatar class="ion-margin-end"  slot="end">
      <img loading="lazy" class="img-langauge" [src]="userInfo.languageIcon">
    </ion-avatar>

  </ion-toolbar>
</ion-header>

<ion-toolbar class="ios-toolbar">
  <ion-title>Privacy policy</ion-title>
</ion-toolbar>

<ion-content>

  <ion-spinner *ngIf='isLoading' color="primary" name="crescent"></ion-spinner>

  <ion-grid>
    <ion-row class="ion-justify-content-center">
      <ion-col size="12" size-lg="10">
        <div class="privacy-policy" *ngFor="let policy of policyData">
          <ion-text [innerHTML]="policy.content"></ion-text>
        </div>
      </ion-col>
    </ion-row>
  </ion-grid>

</ion-content>
