<div class="choose-language">
  <h1 class="title">  </h1>
</div>


<ion-content>
  <ion-img class="logo" src="../../assets/images/logo.jpeg" alt="" ></ion-img>
<ion-row class="choose-service">
  <ion-col size="6">
    <div class="block">
      <ion-text> عمليات الشراء </ion-text>
    </div>
  </ion-col>

    <ion-col size="6">
      <div class="block">
        <ion-text> قرأة الحظائر </ion-text>
      </div>
    </ion-col>

    <ion-col size="6">
      <div class="block">
        <ion-text> التحويل بين الحظائر </ion-text>
      </div>
    </ion-col>

    <ion-col size="6">
      <div class="block">
        <ion-text> تغيير الاوشام </ion-text>
      </div>
    </ion-col>

    <ion-col size="6">
      <div class="block">
        <ion-text> عمليات البيع </ion-text>
      </div>
    </ion-col>

    <ion-col size="6">
      <div class="block">
        <ion-text> قرأة الطاولات </ion-text>
      </div>
    </ion-col>

    <ion-col size="6">
      <div class="block">
        <ion-text> تغذية الحظائر </ion-text>
      </div>
    </ion-col>

    <ion-col size="6">
      <div class="block">
        <ion-text> طلب الصيانة </ion-text>
      </div>
    </ion-col>

    <ion-col size="6">
      <div class="block">
        <ion-text> عمليات الذبيح </ion-text>
      </div>
    </ion-col>

    <ion-col size="6">
      <div class="block">
        <ion-text> <a routerLink="/enquiry" >الاستعلام </a></ion-text>
      </div>
    </ion-col>
</ion-row>

</ion-content>
