<ion-content class="background-image" no-scroll>

  <div class="sign-in-title">
    <h3> {{ 'Signin to continue' | translate }} </h3>
  </div>

  <div class="sign-in-form">
    <ion-grid [formGroup]="loginForm" (ngSubmit)="onLoginFormSubmit(loginForm.value)" class="padding">
      <ion-row class="ion-justify-content-center">
        <ion-col size="12" size-lg="6" >
          <ion-item #theItem>
            <ion-label position="floating">
              <ion-icon name="person"></ion-icon> {{ 'Email' | translate }}
            </ion-label>
            <ion-input type="text" formControlName="Email" required></ion-input>
            <ion-text color="danger" *ngIf="loginFormErrors.Email">{{loginFormErrors.Email}}</ion-text>

          </ion-item>

          <ion-item #theItem>
            <ion-label position="floating">
              <ion-icon name="lock-closed-sharp"></ion-icon> {{ 'Password' | translate }}
            </ion-label>
            <ion-input type="password" formControlName="Password" required>
            </ion-input>
            <ion-text color="danger" *ngIf="loginFormErrors.Password">{{loginFormErrors.Password}}</ion-text>

          </ion-item>

          <p> <a style="color: #A7F781;" href="/auth/forget-password"> {{ 'Forget Password' | translate }} </a> </p>

          <ion-button (click)="onLoginFormSubmit(loginForm.value)" [disabled]="isLoading || !loginForm.valid">
            {{ 'Login' | translate }}
          </ion-button>
        </ion-col>
      </ion-row>
    </ion-grid>
  </div>
  <p class="no-account">{{ 'Don’t have an account yet ?' | translate }} <span> <a [routerLink]="['/auth/sign-up']">{{ 'Signup' | translate }} </a> </span> </p>


</ion-content>
