<ion-header class="course">
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/courses/tabs/all-courses"> </ion-back-button>
    </ion-buttons>

    <ion-menu-button slot="start"></ion-menu-button>


    <div class="img-profile">
      <ion-avatar slot="end">
        <img loading="lazy" *ngIf="userInfo.imagePath" [src]="userInfo.imagePath">
        <img loading="lazy" *ngIf="userInfo === '' || userInfo.imagePath === null || userInfo.imagePath === undefined"
        src="../../../assets/images/image profille (1).png">
      </ion-avatar>
      <ion-label>{{ userInfo.firstname + ' ' +  userInfo.lastname }}</ion-label>
    </div>

    <!-- <img  [src]="userInfo.languageIcon" /> -->

    <ion-avatar class="ion-margin-end"  slot="end">
      <img loading="lazy" class="img-langauge" [src]="userInfo.languageIcon">
    </ion-avatar>

  </ion-toolbar>
</ion-header>

<ion-toolbar class="ios-toolbar">
  <ion-title>faq</ion-title>
</ion-toolbar>

<ion-content>
  <ion-spinner *ngIf='isLoading' color="primary" name="crescent"></ion-spinner>

<ion-grid>
  <ion-row class="ion-justify-content-center">
    <ion-col size-lg="6">
      <mat-accordion>

        <mat-expansion-panel *ngFor="let f of allFaq" (opened)="panelOpenState = true"
                             (closed)="panelOpenState = false">
          <mat-expansion-panel-header >
            <mat-panel-title>
              {{ f.questions }}
            </mat-panel-title>
            <!-- <mat-panel-description>
              Currently I am {{panelOpenState ? 'open' : 'closed'}}
            </mat-panel-description> -->
          </mat-expansion-panel-header>
          <p>{{ f.answer }}</p>
        </mat-expansion-panel>

      </mat-accordion>
    </ion-col>
  </ion-row>
</ion-grid>

</ion-content>
